.bg {
    background-image: url("/static/images/background.jpeg");
}

span {
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    opacity: 1;
    font-size: 80px;
    color: white;
    transition: color 0.5s;
    margin: 0px;
}

span:hover {
    color: #5B51D8;
}

.youtube {
    /* color : red; */
    color: white;
}

.github {
    color: white;
}

.linkedin {
    /* color : #0077B5; */
    color: white;
}
